{% extends "blog_net/index.html" %}

{% block title %}
  Contact Page
{% endblock %}

{% block navi %}
  <a href="{% url 'blog_index' %}">home</a> - <a href="{% url 'blog_about' %}">about</a> -
  <a href="{% url 'blog_archive' %}">archive</a> - <a href="{% url 'blog_contact' %}">contact</a>
  {% if user.is_authenticated %}
    <a href="{% url 'accounts_profile' %}">profile</a> - <a href="{% url 'accounts_logout' %}">logout</a>
  {% else %}
    <a href="{% url 'accounts_login' %}">login</a>
  {% endif %}
{% endblock %}

{% block content %}

  <h2>Contact</h2>
  {% if not contact_sent %}
      {% if success %}
      <h3>Data posted:</h3>
      <p>Email: {{email}}</p>
      <p>title: {{title}}</p>
      <p>text: {{text}}</p>

      {% else %}
      <form action="." method="post">
        {% csrf_token %}
        {{ contact_form.as_p }}
        <input type="submit" value="Send">
        <input type="reset" value="Reset">

      </form>
      {% endif %}
  {% else %}
    <p>Sorry, already sent contact</p>
  {% endif %}


{% endblock %}

{% block footer %}
  2011 - MyBlock
{% endblock %}
