{% extends "blog_net/index.html" %}

{% block title %}
  Contact Page
{% endblock %}

{% block navi %}
<a href="{% url 'index' %}">home</a> - <a href="{% url 'about' %}">about</a> -
<a href="{% url 'archive' %}">archive</a> - <a href="{% url 'contact' %}">contact</a>
{% endblock %}

{% block content %}

  <h2>Contact</h2>
  {% if success %}
  <h3>Data posted:</h3>
  <p>Email: {{email}}</p>
  <p>title: {{title}}</p>
  <p>text: {{text}}</p>

  {% else %}
  <form action="." method="post">
    {% csrf_token %}
    {{ contact_form.as_p }}
    <input type="submit" value="Send">
    <input type="reset" value="Reset">

  </form>
  {% endif %}
{% endblock %}

{% block footer %}
  2011 - MyBlock
{% endblock %}
